@{
    ViewData["Title"] = "Home";
}


<div class="row">
    <div class="col-md-12 jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">
                ফরিদপুরের মধুখালীতে ভাতিজার লাঠির আঘাতে আহত হয়ে এক সেনাসদস্য মারা গেছেন।
                আজ মঙ্গলবার বেলা আড়াইটার দিকে ঢাকার সম্মিলিত সামরিক হাসপাতালে (সিএমএইচ) চিকিৎসাধীন অবস্থায় মারা যান তিনি।
                নিহতের নাম উজ্জ্বল মৃধা (৩২)। তিনি মধুখালীর রায়পুর ইউনিয়নের লক্ষ্মী নারায়ণপুর গ্রামের সেকেন্দার মৃধার ছেলে। তিনি অবিবাহিত ছিলেন।
                কর্মরত ছিলেন ল্যান্স করপোরাল পদে সিলেট সেনানিবাস-২-এ প্যারা ব্যাটালিয়নে। গত ৩০ জানুয়ারি দুই মাসের নিয়মিত ছুটিতে তিনি বাড়িতে এসেছিলেন।
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class=" col-md-6 card" style="width: 18rem;">
        <img src="~/Images/17d3c039-7422-4795-9895-174e1220a1d1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                ফরিদপুরের মধুখালীতে ভাতিজার লাঠির আঘাতে আহত হয়ে এক সেনাসদস্য মারা গেছেন।
                আজ মঙ্গলবার বেলা আড়াইটার দিকে ঢাকার সম্মিলিত সামরিক হাসপাতালে (সিএমএইচ) চিকিৎসাধীন অবস্থায় মারা যান তিনি।
                নিহতের নাম উজ্জ্বল মৃধা (৩২)। তিনি মধুখালীর রায়পুর ইউনিয়নের লক্ষ্মী নারায়ণপুর গ্রামের সেকেন্দার মৃধার ছেলে। তিনি অবিবাহিত ছিলেন।
                কর্মরত ছিলেন ল্যান্স করপোরাল পদে সিলেট সেনানিবাস-২-এ প্যারা ব্যাটালিয়নে। গত ৩০ জানুয়ারি দুই মাসের নিয়মিত ছুটিতে তিনি বাড়িতে এসেছিলেন।
            </p>
        </div>
    </div>
    <div class=" col-md-6 card" style="width: 18rem;">
        <img src="~/Images/17d3c039-7422-4795-9895-174e1220a1d1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                ফরিদপুরের মধুখালীতে ভাতিজার লাঠির আঘাতে আহত হয়ে এক সেনাসদস্য মারা গেছেন।
                আজ মঙ্গলবার বেলা আড়াইটার দিকে ঢাকার সম্মিলিত সামরিক হাসপাতালে (সিএমএইচ) চিকিৎসাধীন অবস্থায় মারা যান তিনি।
                নিহতের নাম উজ্জ্বল মৃধা (৩২)। তিনি মধুখালীর রায়পুর ইউনিয়নের লক্ষ্মী নারায়ণপুর গ্রামের সেকেন্দার মৃধার ছেলে। তিনি অবিবাহিত ছিলেন।
                কর্মরত ছিলেন ল্যান্স করপোরাল পদে সিলেট সেনানিবাস-২-এ প্যারা ব্যাটালিয়নে। গত ৩০ জানুয়ারি দুই মাসের নিয়মিত ছুটিতে তিনি বাড়িতে এসেছিলেন।
            </p>
        </div>
    </div>


</div>

<div class="row">
    <div class=" col-md-3 card">
        <img src="~/Images/17d3c039-7422-4795-9895-174e1220a1d1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                ফরিদপুরের মধুখালীতে ভাতিজার লাঠির আঘাতে আহত হয়ে এক সেনাসদস্য মারা গেছেন।
                আজ মঙ্গলবার বেলা আড়াইটার দিকে ঢাকার সম্মিলিত সামরিক হাসপাতালে (সিএমএইচ) চিকিৎসাধীন অবস্থায় মারা যান তিনি।
                নিহতের নাম উজ্জ্বল মৃধা (৩২)। তিনি মধুখালীর রায়পুর ইউনিয়নের লক্ষ্মী নারায়ণপুর গ্রামের সেকেন্দার মৃধার ছেলে। তিনি অবিবাহিত ছিলেন।
                কর্মরত ছিলেন ল্যান্স করপোরাল পদে সিলেট সেনানিবাস-২-এ প্যারা ব্যাটালিয়নে। গত ৩০ জানুয়ারি দুই মাসের নিয়মিত ছুটিতে তিনি বাড়িতে এসেছিলেন।
            </p>
        </div>
    </div>
    <div class=" col-md-3 card">
        <img src="~/Images/17d3c039-7422-4795-9895-174e1220a1d1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                ফরিদপুরের মধুখালীতে ভাতিজার লাঠির আঘাতে আহত হয়ে এক সেনাসদস্য মারা গেছেন।
                আজ মঙ্গলবার বেলা আড়াইটার দিকে ঢাকার সম্মিলিত সামরিক হাসপাতালে (সিএমএইচ) চিকিৎসাধীন অবস্থায় মারা যান তিনি।
                নিহতের নাম উজ্জ্বল মৃধা (৩২)। তিনি মধুখালীর রায়পুর ইউনিয়নের লক্ষ্মী নারায়ণপুর গ্রামের সেকেন্দার মৃধার ছেলে। তিনি অবিবাহিত ছিলেন।
                কর্মরত ছিলেন ল্যান্স করপোরাল পদে সিলেট সেনানিবাস-২-এ প্যারা ব্যাটালিয়নে। গত ৩০ জানুয়ারি দুই মাসের নিয়মিত ছুটিতে তিনি বাড়িতে এসেছিলেন।
            </p>
        </div>
    </div>
    <div class=" col-md-3 card">
        <img src="~/Images/17d3c039-7422-4795-9895-174e1220a1d1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                ফরিদপুরের মধুখালীতে ভাতিজার লাঠির আঘাতে আহত হয়ে এক সেনাসদস্য মারা গেছেন।
                আজ মঙ্গলবার বেলা আড়াইটার দিকে ঢাকার সম্মিলিত সামরিক হাসপাতালে (সিএমএইচ) চিকিৎসাধীন অবস্থায় মারা যান তিনি।
                নিহতের নাম উজ্জ্বল মৃধা (৩২)। তিনি মধুখালীর রায়পুর ইউনিয়নের লক্ষ্মী নারায়ণপুর গ্রামের সেকেন্দার মৃধার ছেলে। তিনি অবিবাহিত ছিলেন।
                কর্মরত ছিলেন ল্যান্স করপোরাল পদে সিলেট সেনানিবাস-২-এ প্যারা ব্যাটালিয়নে। গত ৩০ জানুয়ারি দুই মাসের নিয়মিত ছুটিতে তিনি বাড়িতে এসেছিলেন।
            </p>
        </div>
    </div>
    <div class=" col-md-3 card">
        <img src="~/Images/17d3c039-7422-4795-9895-174e1220a1d1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                ফরিদপুরের মধুখালীতে ভাতিজার লাঠির আঘাতে আহত হয়ে এক সেনাসদস্য মারা গেছেন।
                আজ মঙ্গলবার বেলা আড়াইটার দিকে ঢাকার সম্মিলিত সামরিক হাসপাতালে (সিএমএইচ) চিকিৎসাধীন অবস্থায় মারা যান তিনি।
                নিহতের নাম উজ্জ্বল মৃধা (৩২)। তিনি মধুখালীর রায়পুর ইউনিয়নের লক্ষ্মী নারায়ণপুর গ্রামের সেকেন্দার মৃধার ছেলে। তিনি অবিবাহিত ছিলেন।
                কর্মরত ছিলেন ল্যান্স করপোরাল পদে সিলেট সেনানিবাস-২-এ প্যারা ব্যাটালিয়নে। গত ৩০ জানুয়ারি দুই মাসের নিয়মিত ছুটিতে তিনি বাড়িতে এসেছিলেন।
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="card" style="width:100%">
            <img src="~/Images/17d3c039-7422-4795-9895-174e1220a1d1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    ফরিদপুরের মধুখালীতে ভাতিজার লাঠির আঘাতে আহত হয়ে এক সেনাসদস্য মারা গেছেন।
                    আজ মঙ্গলবার বেলা আড়াইটার দিকে ঢাকার সম্মিলিত সামরিক হাসপাতালে (সিএমএইচ) চিকিৎসাধীন অবস্থায় মারা যান তিনি।
                    নিহতের নাম উজ্জ্বল মৃধা (৩২)। তিনি মধুখালীর রায়পুর ইউনিয়নের লক্ষ্মী নারায়ণপুর গ্রামের সেকেন্দার মৃধার ছেলে। তিনি অবিবাহিত ছিলেন।
                    কর্মরত ছিলেন ল্যান্স করপোরাল পদে সিলেট সেনানিবাস-২-এ প্যারা ব্যাটালিয়নে। গত ৩০ জানুয়ারি দুই মাসের নিয়মিত ছুটিতে তিনি বাড়িতে এসেছিলেন।
                </p>
            </div>
        </div>
        <div class="card" style="width:100%">
            <img src="~/Images/17d3c039-7422-4795-9895-174e1220a1d1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    ফরিদপুরের মধুখালীতে ভাতিজার লাঠির আঘাতে আহত হয়ে এক সেনাসদস্য মারা গেছেন।
                    আজ মঙ্গলবার বেলা আড়াইটার দিকে ঢাকার সম্মিলিত সামরিক হাসপাতালে (সিএমএইচ) চিকিৎসাধীন অবস্থায় মারা যান তিনি।
                    নিহতের নাম উজ্জ্বল মৃধা (৩২)। তিনি মধুখালীর রায়পুর ইউনিয়নের লক্ষ্মী নারায়ণপুর গ্রামের সেকেন্দার মৃধার ছেলে। তিনি অবিবাহিত ছিলেন।
                    কর্মরত ছিলেন ল্যান্স করপোরাল পদে সিলেট সেনানিবাস-২-এ প্যারা ব্যাটালিয়নে। গত ৩০ জানুয়ারি দুই মাসের নিয়মিত ছুটিতে তিনি বাড়িতে এসেছিলেন।
                </p>
            </div>
        </div>
        <div class="card" style="width:100%">
            <img src="~/Images/17d3c039-7422-4795-9895-174e1220a1d1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    ফরিদপুরের মধুখালীতে ভাতিজার লাঠির আঘাতে আহত হয়ে এক সেনাসদস্য মারা গেছেন।
                    আজ মঙ্গলবার বেলা আড়াইটার দিকে ঢাকার সম্মিলিত সামরিক হাসপাতালে (সিএমএইচ) চিকিৎসাধীন অবস্থায় মারা যান তিনি।
                    নিহতের নাম উজ্জ্বল মৃধা (৩২)। তিনি মধুখালীর রায়পুর ইউনিয়নের লক্ষ্মী নারায়ণপুর গ্রামের সেকেন্দার মৃধার ছেলে। তিনি অবিবাহিত ছিলেন।
                    কর্মরত ছিলেন ল্যান্স করপোরাল পদে সিলেট সেনানিবাস-২-এ প্যারা ব্যাটালিয়নে। গত ৩০ জানুয়ারি দুই মাসের নিয়মিত ছুটিতে তিনি বাড়িতে এসেছিলেন।
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <iframe width="600" height="600"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div>
</div>