@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="header">
    <div class="topHeader">
        <div class="subscribe">
            <button id="subscribe">Subscribe</button>
        </div>
        <img id="logo" style="height: 100px; width: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Tesla_Motors.svg">
    </div>






    <div class="supportUs">
        <button>Support US</button>
    </div>

</div>
