@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


}



@{ int firstPic = 0;


    foreach (var item in Model)
    {


        if (item.sectionname == "Top3")
        {
            <h1>@item.title</h1>
           

                <div class="singlePic">
                    <div class="singlePicContent">
                        <img src=@Url.Content(item.imagePath) alt="" />
                        <p>@item.description;</p>
                        

                    </div>

                </div>

            

           
                  
        }
        

    }

}

