@model ScopoCMS.Web.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>post</h4>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>tinymce.init({ selector: 'textarea' });</script>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="postID" />
            <div class="form-group">
                <label asp-for="author" class="control-label"></label>
                <input asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="publishDate" class="control-label"></label>
                <input asp-for="publishDate" class="form-control" />
                <span asp-validation-for="publishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryID" class="control-label">Category</label>
                <select asp-for="categoryID" class="form-control" asp-items="@ViewBag.list"></select>
            </div>
            <div class="form-group">
                <label asp-for="tags" class="control-label"></label>
                <input asp-for="tags" class="form-control" />
                <span asp-validation-for="tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Write Post Content</label>
                <textarea asp-for="description"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Upload Post Image</label>
                    <input type="file" name="imageFile" id="imageFile" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
